$primary-color: rgb(69, 2, 71);
$secondary-color: rgb(150, 6, 179);
$secondary-transparent: #ff585b8f;
$third-color: #484848;
$third-transparent: #4848487e;
$white-color: rgb(255, 255, 255);
$white-trasparent: rgba(255, 255, 255, 0.7);
$black-color: rgb(0, 0, 0);
$black-transparent: rgba(0, 0, 0, 0.2);
$light-grey: rgba(201, 201, 201, 0.6);
$greyish-color: rgb(215, 222, 246);
$green-color:rgb(100, 206, 66);
$orange-color: rgb(249, 192, 61);
$red-color: rgb(237, 93, 87);
