@import 'variables';

* {
  box-sizing: border-box;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  overflow-x: hidden;
}

input {
  padding: 0.5rem;
  outline: none;
  border: none;
  height: 40px;
}

.main-container {
  background: url('../images/main-bg.jpg') center center fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.search-result {
  height: 350px;
  margin: 2rem auto 2rem auto;
  background-color: $primary-color;
}

// results
@mixin bg-specs {
  background-size: cover;
  height: 400px;
  width: 400px;
}

@import 'utilities';
@import 'texts';
@import 'widths-heights';
@import 'media-queries'
